.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: navy;
  color: white;
}

.nav-links{  
  flex: 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link{
  color: white;
}

.brand{
  flex: 6;
  color: gold;
  font-size: xx-large;
}